# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/
src/assets/
src/environments
src/proxy.conf.json
src/fullcalendar-custom.css
src/favicon.ico
src/site.webmanifest
src/favicon-32x32.png
src/favicon-16x16.png
src/apple-touch-icon.png
src/android-chrome-512x512.png
src/android-chrome-192x192.png
tsconfig.json
