<!-- Form -->
<div class="mt-8 flex flex-col items-center rounded-2xl">
  <form
    style="width: 30%!important;"
    class="flex flex-col gap-3"
    #contactForm="ngForm"
    (ngSubmit)="submitEmail(contactForm)"
  >
    <!-- Full Name -->
    <div>
      <input
        name="fullName"
        [(ngModel)]="contactFormValues.name"
        #fullName="ngModel"
        type="text"
        placeholder="Full Name"
        class="w-full p-2 border border-gray-200 rounded-md"
        required
        minlength="2"
      />
      <p
        class="ml-1 text-red-400 text-sm"
        *ngIf="fullName.errors && fullName.touched"
      >
        Name is required (min 2 characters)
      </p>
    </div>

    <!-- Phone Number -->
    <div>
      <input
        name="phone"
        [(ngModel)]="contactFormValues.number"
        #phone="ngModel"
        type="text"
        placeholder="Phone Number"
        class="w-full p-2 border border-gray-200 rounded-md"
        required
        minlength="10"
        maxlength="10"
        pattern="[0-9]+"
      />
      <p
        class="ml-1 text-red-400 text-sm"
        *ngIf="phone.errors && phone.touched"
      >
        Phone number must be 10 digits
      </p>
    </div>

    <!-- Email -->
    <div>
      <input
        name="email"
        [(ngModel)]="contactFormValues.email"
        #email="ngModel"
        type="email"
        placeholder="Email"
        class="w-full p-2 border border-gray-200 rounded-md"
        required
        pattern="[a-z0-9._%+]+@[a-z0-9.-]+\.[a-z]{2,}"
      />
      <p
        class="ml-1 text-red-400 text-sm"
        *ngIf="email.errors && email.touched"
      >
        Enter a valid email address
      </p>
    </div>

    <!-- Message -->
    <div>
      <textarea
        name="message"
        [(ngModel)]="contactFormValues.body"
        #message="ngModel"
        cols="30"
        rows="10"
        class="w-full p-2 border border-gray-200 rounded-md"
        placeholder="Message"
        required
        minlength="20"
      ></textarea>
      <p
        class="ml-1 text-red-400 text-sm"
        *ngIf="message.errors && message.touched"
      >
        Message must be at least 20 characters
      </p>
    </div>

    <!-- Alert -->
    <div *ngIf="showAlert">
      <p [ngClass]="alertColor" class="font-semibold">{{ alertMessage }}</p>
    </div>

    <!-- Submit -->
    <button
      [disabled]="contactForm.invalid || onSubmit"
      class="p-2 rounded-md font-bold uppercase text-white bg-light-color hover:bg-primary-color transition disabled:opacity-50 disabled:bg-light-color"
    >
      <ng-container *ngIf="onSubmit === false; else submittingEmail">
        send
      </ng-container>
      <ng-template #submittingEmail>
        <div class="animate-spin w-5 h-5 border-t-2 border-white rounded-full mx-auto"></div>
      </ng-template>
    </button>
  </form>
</div>
