.mat-stepper-horizontal {
  margin-top: 8px;
  width: 35%;
}
.centeredDiv {
  display: flex;
  align-content: center!important;
  justify-content: center!important;
}

a:link {
  color: green;
  text-decoration: underline;
  transition: all 0.5s linear;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: underline;
  transition: all 0.5s linear;
}

a:hover {
  color: #479fff;
  text-decoration: underline;
  transition: all 0.5s linear;
}
