<div class="container mt-4">
    <div class="row">
      <!-- Basic Information -->
      <div class="col-md-6">
        <mat-card class="p-3">
          <mat-card-title>Personal Information</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>First Name</mat-label>
              <input matInput [(ngModel)]="user.firstName" />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)]="user.lastName" />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Preferred Name</mat-label>
              <input matInput [(ngModel)]="user.preferredName" />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Role</mat-label>
              <input matInput [(ngModel)]="user.roleName" disabled />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- Job Details -->
      <div class="col-md-6">
        <mat-card class="p-3">
          <mat-card-title>Job Details</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Job Title</mat-label>
              <input matInput [(ngModel)]="user.jobTitle" disabled />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Position Type</mat-label>
              <input matInput [(ngModel)]="user.positionType" disabled />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Salary Rate</mat-label>
              <input matInput [(ngModel)]="user.salaryRate" type="number" disabled />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div class="row mt-3">
      <!-- Address -->
      <div class="col-md-6">
        <mat-card class="p-3">
          <mat-card-title>Address</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Home Address</mat-label>
              <input matInput [(ngModel)]="user.address" />
            </mat-form-field>
          </mat-card-content>
        </mat-card>
      </div>
  
      <!-- Emergency Contacts -->
      <div class="col-md-6">
        <mat-card class="p-3">
          <mat-card-title>Emergency Contacts</mat-card-title>
          <mat-card-content>
            <div *ngFor="let contact of user.emergencyContacts; let i = index" class="mb-2 d-flex align-items-center">
              <mat-form-field appearance="outline" class="flex-grow-1">
                <mat-label>Full Name</mat-label>
                <input matInput [(ngModel)]="contact.fullName" />
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="flex-grow-1 mx-2">
                <mat-label>Phone</mat-label>
                <input matInput [(ngModel)]="contact.phone" />
              </mat-form-field>
  
              <button mat-icon-button color="warn" (click)="deleteEmergencyContact(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <button mat-flat-button color="accent" class="w-100 mt-2" (click)="addEmergencyContact()">Add Contact</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div class="row mt-3">
      <!-- Permissions -->
      <div class="col-md-12">
        <mat-card class="p-3">
          <mat-card-title>Permissions</mat-card-title>
          <mat-card-content>
            <mat-chip-listbox>
              <mat-chip *ngFor="let permission of user.permissions" color="primary">
                {{ permission }}
              </mat-chip>
            </mat-chip-listbox>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div class="row mt-3">
      <!-- Save Button -->
      <div class="col-12 text-center">
        <button mat-flat-button color="primary" class="px-5" (click)="saveProfile()">Save Changes</button>
      </div>
    </div>
  </div>
  