/* src/app/unauthorized/unauthorized.component.css */
.unauthorized-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
  }
  
  mat-card {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #2d2d2d;
    color: #f8f8f8;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  mat-card-title {
    font-size: 24px;
    color: #ff4081; /* EmberFrameworks brand color */
  }
  
  mat-card-content p {
    margin-bottom: 16px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  