<mat-toolbar style="background: radial-gradient(25deg, #222, #555);">
    <span>Ember Frameworks LLC</span>
    <span style="flex: 0.025 auto;"></span>
    <span *ngIf="this.devMode" style="color: #f00; text-shadow: #a82020 1px 1px 8px"> [Developer Environment] </span>
    <span class="spacer"></span>
    <div style="margin: auto; display: flex; flex: 0 1 auto; flex-direction: row; justify-content: space-between;">
        <button mat-mini-fab color="primary" style="border-radius: 12px;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="home">
            <mat-icon>home</mat-icon>
            <span>Home Page</span>
        </button>
        <button mat-menu-item (click)="goTo('services')">
            <mat-icon>support_agent</mat-icon>
            <span>Support / Services</span>
        </button>
        <button mat-menu-item routerLink="contact">
            <mat-icon>help</mat-icon>
            <span>Contact Us</span>
        </button>
        <button mat-menu-item routerLink="policies">
            <mat-icon>policy</mat-icon>
            <span>Policy & Compliance</span>
        </button>
        <div *ngIf="!this.authService.isLoggedIn()">
            <button mat-menu-item (click)="goTo('employee/login')">
                <mat-icon>badge</mat-icon>
                <span>Employee Login</span>
            </button>
        </div>
        <div *ngIf="this.authService.isLoggedIn()">
            <button mat-menu-item (click)="goTo('employee/profile')">
                <mat-icon>badge</mat-icon>
                <span>Employee Profile</span>
            </button>
            <button mat-menu-item (click)="this.authService.logOut()">
                <mat-icon>logout</mat-icon>
                <span>Log out</span>
            </button>
        </div>
        </mat-menu>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
<footer>
  <p>&copy; 2024 Ember Frameworks LLC. All rights reserved.</p>
</footer>
