
<div class="container fade-in" >
    
    <div class="header" >
        <div class="logo-container" >
          <img src="/assets/efllc_logo.png" alt="Ember Frameworks LLC Logo" class="logo">
        </div>
        <div style="width: 50%;">
            <mat-card-title style="font-size: larger;">
                <b>Welcome!</b>
            </mat-card-title>
            <mat-card-content>
            <p>
                Ember Frameworks LLC, proudly based in Clarksville, Tennessee, is your trusted local partner for all your technology needs. Whether you're a thriving business or a household seeking tech solutions, we're here to help you thrive in the digital age.
                <br/><br/>
                <b style="font-size: 24px;">What Sets Us Apart:</b>
                <br/><mat-divider></mat-divider><br/>
                <b>Comprehensive Services:</b> From businesses to everyday homes, we offer a comprehensive range of tech solutions tailored to your unique needs. Whether it's setting up your home Wi-Fi network or implementing advanced IT infrastructure for your business, we've got the expertise you need.
                <br/><br/>
                <b>Military Discounts:</b> As a token of appreciation for our servicemen and women, we proudly offer military discounts on our services. It's our way of saying thank you for your sacrifice and dedication to our country.
                <br/><br/>
                <b>Loyalty System:</b> Our loyalty system rewards our valued customers for their continued trust and support. Earn points with every purchase or service, and redeem them for exclusive discounts and perks.
                <br/><br/><mat-divider></mat-divider><br/><br/>
                
                <b style="font-size: 24px;">Why Choose Us:</b>
                <br/><mat-divider></mat-divider><br/>
                <b>Community Understanding:</b> As a locally-owned business, we possess an in-depth understanding of the needs and dynamics of the Clarksville community. You can rely on us to provide personalized service and support tailored to your specific requirements.
                <br/><br/>
                <b>Reliability:</b> With years of experience in the industry, we have a proven track record of delivering reliable and high-quality tech solutions. Count on us to get the job done right, the first time, every time.
                <br/><br/>
                <b>Customer-Centric Approach:</b> At Ember Frameworks LLC, customer satisfaction is our top priority. We go above and beyond to ensure that every customer receives the attention and care they deserve, from start to finish.
                <br/><br/><mat-divider></mat-divider><br/><br/>
                <b style="font-size: 24px;">Get in Touch:</b><br/><br/>
                <!-- Start Square Appointments Embed code -->
                <a target="_top" style="
                background-color: #1bff5f;
                border: none;
                color: rgb(65, 64, 64);
                height: 40px;
                text-transform: uppercase;
                font-family: 'Square Market', sans-serif;
                letter-spacing: 1px;
                line-height: 38px;
                padding: 0 28px;
                border-radius: 32px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
                display: inline-block;
                " href="https://app.squareup.com/appointments/book/s3ed5dmj18x4am/LBND88Z892YCN/start" rel="nofollow">Book an Appointment</a>
                <!-- End Square Appointments Embed code --><br/><br/>
                Ready to experience the Ember Frameworks LLC difference? Contact us today to learn more about our services, schedule a consultation, or take advantage of our military discounts. Let's embark on a journey towards a brighter, more connected future together.</p>
            </mat-card-content>
        </div>
    </div>
  
    <div class="content">
        <!--
      <div class="portfolio">
        <h2>Portfolio</h2>
        <div class="scrolling-container">
          <div class="scrolling-content">

            <div class="portfolio-item">
              <img src="https://via.placeholder.com/150x100" alt="Portfolio Item 1">
              <a href="https://github.com/your-github-repo-1" target="_blank">GitHub</a>
            </div>
            <div class="portfolio-item">
              <img src="https://via.placeholder.com/150x100" alt="Portfolio Item 2">
              <a href="https://github.com/your-github-repo-2" target="_blank">GitHub</a>
            </div>
            <div class="portfolio-item">
              <img src="https://via.placeholder.com/150x100" alt="Portfolio Item 3">
              <a href="https://github.com/your-github-repo-3" target="_blank">GitHub</a>
            </div>

          </div>
          
        </div>
      </div>
        -->
    </div>
    <div class="content">
        <div class="company-info">
            <h2>Company Information</h2>
            <nav>
            <ul>
                <li><strong>Fax:</strong> xxx-xxx-xxxx</li>
                <li><strong>Email:</strong> support&#64;emberframeworks.xyz</li>
                <li><strong>Phone:</strong> xxx-xxx-xxxx</li>
            </ul>
            </nav>
        </div>
    <br/>
        <div class="team">
        <h2>Our Team</h2>
        <div class="team-container">
            <div class="team-member">
            <div class="card">
                <img src="/assets/headshot.jpg" alt="Rainn Sideris">
                <div class="info">
                <h3>Rainn Sideris</h3>
                <p>Chief Executive Officer and Main Technician</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  <div class="customer-reviews" style="width: 100%; align-items: center!important; align-content: center!important; text-align: center!important;">
    <h2>Customer Reviews</h2>
    <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="6618337f8b5d8da69665c721" data-style-height="100%" data-style-width="100%">
        <a href="https://www.trustpilot.com/review/emberframeworks.xyz" target="_blank" rel="noopener">Trustpilot</a>
    </div>
</div>
  <router-outlet></router-outlet>
