/* app.component.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.content {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 16px;
}

p {
  font-size: 1.2em;
  margin-bottom: 24px;
}

button {
  font-size: 1.2em;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
